In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv("./Iris.csv")

In [7]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
data.rename(columns={'SepalLengthCm':'SL','SepalWidthCm':'SW','PetalLengthCm':'PL','PetalWidthCm':'PW'},inplace = True)

In [9]:
iris_setosa = data[data['Species']=='Iris-setosa']
iris_versicolor = data[data['Species']=='Iris-versicolor']
iris_virginica = data[data['Species']=='Iris-virginica']

# Measures of Spread

## Measures of Spread gives an idea of how much th data is spead or varying. Some important measures of spreada are:
    1. Range
    2. interquartile range(IQR)
    3. Variance
    4. Standard Deviation

### 1. Range

In [10]:
r = np.max(iris_setosa["PL"]) - np.min(iris_setosa["PL"])
print("Range of Iris-setosa is", r)

Range of Iris-setosa is 0.8999999999999999

### 2. Percentile

In [11]:
# Example of percentile
l = [1,2,3,4,5,6,7,8,9]
print(np.percentile(l,10))
print(np.percentile(l,90))

1.8
8.2

In [12]:
np.percentile(iris_setosa['PL'],95)

1.7

### 3. Quartiles

#### Quartiles are the values that divide a list into quarters:
    Put the list of numbers in order
    Then cut the list into four equal parts
    Quartiles are at the "cuts"

In [16]:
np.percentile(iris_setosa['PL'],25)
np.percentile(iris_setosa['PL'],50)
np.percentile(iris_setosa['PL'],75)
np.percentile(iris_setosa['PL'],100)

1.9

### 4. Interquartile Range

#### IQR  is a measure of statistical dispersion between upper(75th) and lower(25th) quartiles.

In [18]:
iqr = np.percentile(iris_setosa['PL'],75) - np.percentile(iris_setosa['PL'],25)
print("IQR is", iqr)

IQR is 0.17500000000000027

### 5. Mean Absolute Deviation

In [21]:
# Example
# 2,5,1,6,7,3,11
# mean of these values = 5
# |(2-5)+(5-5)+(1-5)+(6-5)+(7-5)+(3-5)+(11-5)| = 3+0+4+1+2+2+6 = 18/7 
# 2.5 is MAD

### 6. Variance

In [22]:
# Example
# 2,5,1,6,7,3,11
# mean of these values = 5
# (2-5)^2+(5-5)^2+(1-5)^2+(6-5)^2+(7-5)^2+(3-5)^2+(11-5)^2/7 = 9+0+16+1+4+4+36 = 70/7 
# 10 is Variance

In [23]:
np.var(iris_setosa['PL'])

0.029504000000000002

### 7. Standard Deviation

In [24]:
# Example
# 2,5,1,6,7,3,11
# mean of these values = 5
# (2-5)^2+(5-5)^2+(1-5)^2+(6-5)^2+(7-5)^2+(3-5)^2+(11-5)^2/7 = 9+0+16+1+4+4+36 = 70/7 
# sqrt(10) = 3.16

In [25]:
np.std(iris_setosa['PL'])

0.17176728442867112

### 8. Median Absolute Deviation

In [26]:
# Example
# 1,3,5,6,7,8,9
# median is 6
# |(1-6),|(3-6)|,|(5-6)|,|(6-6)|,|(7-6)|,|(8-6)|,|(9-6)| = 5,3,1,0,1,2,3
# in order = 0,,1,1,2,3,3,5
#MAD is 2